<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="d-flex product-item-title">
        <div class="d-flex me-auto bg-faded p-5 rounded">
          <h2 class="section-heading mb-0"><span class="section-heading-upper"><strong>MÉLANGÉ À LA PERFECTION</strong></span><span class="section-heading-lower">BUBLE TEA</span></h2>
        </div>
      </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="assets/img/buble%20Tea.webp" style="max-width: 50%;">
      <div class="bg-faded p-5 rounded">
        <p class="mb-0">Chaque tasse de notre bubble tea est préparée avec soin, en combinant des saveurs exotiques et des perles de tapioca moelleuses pour une expérience de thé unique. Nous nous engageons à rechercher les meilleurs ingrédients et à les mélanger avec expertise pour créer des boissons délicieusement rafraîchissantes.</p>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="d-flex product-item-title">
        <div class="d-flex ms-auto bg-faded p-5 rounded">
          <h2 class="section-heading mb-0"><span class="section-heading-upper"><strong>Délices exquis, Festin savoureux</strong></span><span class="section-heading-lower">SUSHI</span></h2>
        </div>
      </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="assets/img/sushi.jpg">
      <div class="bg-faded p-5 rounded">
        <p class="mb-0">Dans notre établissement, chaque bouchée est une symphonie de saveurs, où la tradition japonaise rencontre l'innovation culinaire. Nos chefs talentueux et passionnés travaillent sans relâche pour vous offrir des sushis d'une fraîcheur incomparable, préparés avec des ingrédients de qualité supérieure.</p>
      </div>
    </div>
  </div>
</section>
