<section class="page-section about-heading">
  <div class="container" style="width: 1200;"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/Comptoir.webp" style="max-width: 40%;">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4"><span class="section-heading-upper"><strong>SUSHI AUTHENTIQUE, SAVEURS D'AILLEURS</strong></span><span class="section-heading-lower">À PROPOS DE NOTRE RESTAURANT</span></h2>
            <p>Fondé en 1995 par la famille Tanaka, notre restaurant propose des sushis authentiques préparés avec des ingrédients soigneusement sélectionnés, en provenance directe des marchés de poissons locaux et des pêcheurs artisanaux du Japon. Nous nous engageons à parcourir les traditions culinaires du Japon, à découvrir les saveurs les plus exquises, et à vous les offrir ici, dans notre établissement.</p>
            <p class="mb-0"><span>Nous vous garantissons une expérience gustative inoubliable dès la première bouchée jusqu'à la dernière. Rejoignez-nous pour votre repas quotidien, une sortie entre amis, ou simplement pour savourer un moment de délice japonais.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
