<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="text-center cta-inner rounded">
          <h2 class="section-heading mb-5"><span class="section-heading-upper">VENEZ NOUS REJOINDRE !</span><span class="section-heading-lower">NOUS SOMMES OUVERT</span></h2>
          <ul class="list-unstyled text-start mx-auto list-hours mb-5">
            <li class="d-flex list-unstyled-item list-hours-item">Lundi<span class="ms-auto">11:30 à 23:30</span></li>
            <li class="d-flex list-unstyled-item list-hours-item">Mardi<span class="ms-auto"><em>11:30 à 23:30</em></span></li>
            <li class="d-flex list-unstyled-item list-hours-item">Mercredi<span class="ms-auto"><em>11:30 à 23:30</em></span></li>
            <li class="d-flex list-unstyled-item list-hours-item">Jeudi<span class="ms-auto"><em>11:30 à 23:30</em></span></li>
            <li class="d-flex list-unstyled-item list-hours-item">Vendredi<span class="ms-auto"><em>11:30 à 23:30</em></span></li>
            <li class="d-flex list-unstyled-item list-hours-item">Samedi<span class="ms-auto"><em>11:30 à 23:30</em></span></li>
            <li class="d-flex list-unstyled-item list-hours-item">Dimanche<span class="ms-auto"><em>11:30 à 23:30</em></span></li>
          </ul>
          <p class="address mb-5"><em><strong>Grand'Place 8</strong><span><br>7500 Tournai, Belgique</span></em></p>
          <p class="address mb-0"><small><em>Appelez-nous</em></small><span><br>+32 69 57 95 01</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
