<section class="page-section clearfix">
  <div class="container">
    <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="../assets/img/plat.jpg">
      <div class="text-center intro-text p-5 rounded bg-faded">
        <h2 class="section-heading mb-4"><span class="section-heading-upper">Fresh SUSHI</span><span class="section-heading-lower">DIGNE DE VOUS</span></h2>
        <p class="mb-3">Chaque sushi que nous préparons commence par des ingrédients sélectionnés avec soin, provenant de sources locales. Une fois que vous les aurez goûtés, nos sushis deviendront une délicieuse addition à votre routine quotidienne - c'est une garantie !</p>
        <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="#">Venez aujourd'hui</a></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="text-center cta-inner rounded">
          <h2 class="section-heading mb-4"><span class="section-heading-upper">NOtre PROMESSE</span><span class="section-heading-lower">POUR VOUS</span></h2>
          <p class="mb-0"><span style="color: var(--tw-prose-body);">Lorsque vous entrez dans notre restaurant pour commencer votre journée, nous nous engageons à vous offrir un service amical, une atmosphère chaleureuse, et surtout, des produits excellents fabriqués avec des ingrédients de la plus haute qualité. Si vous n'êtes pas satisfait, faites-le nous savoir et nous ferons tout notre possible pour arranger les choses !</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
